<section  fxLayout="column" fxflex="100%">
    <div class="toolbar">
        <ul fxLayout fxLayoutGap="35px" fxLayout.xs="column">
            <li (click)="onNavtoggle()" style="cursor: pointer;">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </li>
            <li>
                <div class="toolbar-logo">
                    HR User
                    <div class="underLine--toolbar-logo"></div>
                </div>
            </li>
            <li fxLayout fxLayout.xs="column" fxLayoutAlign="center center">
               <span style="font-size: 12px; margin-right: 8px;">Language</span> 
                <mat-button-toggle-group appearance="legacy" >
                    <mat-button-toggle value="english">Engilsh</mat-button-toggle>
                    <mat-button-toggle value="arabic">عربي</mat-button-toggle>
                  </mat-button-toggle-group>
            </li>
            <li fxLayout fxLayoutGap="15px" fxLayout.xs="column">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <i class="fa fa-question-circle" aria-hidden="true"></i>
                <i class="fa fa-cog" aria-hidden="true"></i>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </li>
        </ul>
    </div>

    <div class="actions">
        <ul fxLayout fxLayout.xs="column" fxLayoutGap="15px">
            <li>
                Show
            </li>
            <li>
                <button class="action-button">
                    20
                    <i class="fa fa-angle-down first" aria-hidden="true"></i>
                </button>
            </li>
            <li>
                <button class="action-button">
                    <i class="fa fa-plus second" aria-hidden="true"></i>
                    Emploee
                </button>
            </li>
            <li>
                <button class="action-button" (click)="onFilter()">
                    <i class="fa fa-plus second" aria-hidden="true"></i>
                    Add Filter
                </button>
            </li>
            <li>
                <button class="action-button">
                    Export
                    <i class="fa fa-download third" aria-hidden="true"></i>
                </button>
            </li>
        </ul>
    </div>

    <div class="table">
        <mat-table [dataSource]="dataSource">
            <!-- User name Definition -->
            <ng-container matColumnDef="fullName_FL">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell  *matCellDef="let element"> {{element.fullName_FL}} </mat-cell>
            </ng-container>
          
            <!-- Age Definition -->
            <ng-container matColumnDef="position">
              <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.position.name_FL}} </mat-cell>
            </ng-container>
          
            <!-- Title Definition -->
            <ng-container matColumnDef="hiringDate">
              <mat-header-cell *matHeaderCellDef> Hiring Date </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.hiringDate.getDate()}} {{element.hiringDate.toLocaleString('default', { month: 'long' })}} {{element.hiringDate.getFullYear()}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="firstContractingSalary">
                <mat-header-cell *matHeaderCellDef> Gross Salary </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.firstContractingSalary | currency:' ':'symbol' : '1.0-0' }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="actions">
                <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
                <mat-cell *matCellDef="let row" fxLayout fxLayoutGap="15px" fxLayoutGap.lt-md="3px" fxLayout.lt-md="column">
                    <button mat-button fxFlex.gt-md="10%" fxFlex.lt-md="30%">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                     <button mat-button fxFlex.gt-md="42%" fxFlex.lt-md="30%">Terminate</button>
                     <button mat-button fxFlex.gt-md="42%" fxFlex.lt-md="30%">Suspend</button>
                </mat-cell>
              </ng-container>
          
            <!-- Header and Row Declarations -->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
            
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</section>
